extends layout

block content
    div.container-fluid
        div.row
           div.col-xs-12.col-md-8.col-md-offset-2
               h2 What is NFL Analytics?
               p NFL Analytics is a site which uses predictive analytics to predict the results of future NFL games.
               p These predictions are generated using a predictive model that was trained using many seasons of NFL game data.
               p The predictive model the NFL Analytics uses has an overall accuracy rate of 76.56%
               p The source code for this application can be found
                   a(href='https://github.com/DanielKavanagh/fyp-app')  here
               p The database which backs this application can also be found
                   a(href='https://github.com/DanielKavanagh/fyp-db')  here
