extends layout

block content
    div.container-fluid
        div.row
            div.col-xs-12
              h1= message
              h2= error.status
              pre #{error.stack}
              p
                a(href='/') Go Back to Homepage

              if error.status == 500
                  p
                    a(href='/') Report This Error

