extends layout

block content
  main.home-header
    div.header-text
      h1.text-center.header-title NFL-DB
      p.text-center.header-subtitle Using data mining and predictive analytics to predict the future of the NFL
      a(href='/about/')
        button.btn.btn-header(type='button') Learn More
