{
  "option_settings": [
    {
      "option_name": "/public", 
      "namespace": "aws:elasticbeanstalk:container:nodejs:staticfiles", 
      "value": "/public"
    }, 
    {
      "option_name": "NODE_ENV", 
      "value": "production"
    },
    {
      "option_name": "PROD_DB_PASS",
      "value": "*F8982B9F6503CB5465CDD7D69DDF7E58341021A5"
    }
  ]
}