body {
    padding-top: 70px;
}

span.caret {
    margin-left: 3px !important;
}

.hidden {
    display: none;
}

h1 small {
    margin-left: 5px;
}

.prediction-container {
    display: flex;
    height: 120px;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: auto;
    padding: 10px 5px 10px 5px;
    border: 1px solid #DDD;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
    border-color: #a94442;
}

.correct-prediction {
    border-color: #3c763d;
}

.correct-prediction .away-team-img-container {
    border-color: #3c763d;
}

.correct-prediction .home-team-img-container {
    border-color: #3c763d;
}

.away-team-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 49%;
}

.away-team-img-container {
    display: flex;
    max-width: 25%;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #a94442;
}

.away-team-img {
    align-self: center;
    width: 100%;
    height: auto;
}

.away-team-info-container {
    align-self: stretch;
}

.away-team-name {
    font-size: 1.6em;
    margin: 0;
    word-wrap: break-word;
}

.prediction-info-container {
    display: flex;
    align-items: center;
}

.at-symbol {
    font-size: 1.6em;
    margin: 0;
}

.home-team-container {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    text-align: right;
    width: 49%;
}

.home-team-img-container {
    display: flex;
    max-width: 25%;
    margin-left: 10px;
    border-left: 1px solid #a94442;
    padding-left: 5px;
}

.home-team-img {
    align-self: center;
    width: 100%;
    height: auto;
}

.home-team-info-container {
    align-self: stretch;
}

.home-team-name {
    font-size: 1.4em;
    margin: 0;
    word-wrap: break-word;
}

.label-clear {
    clear: both;
}

.label-success {
    background-color: #3c763d;
}

/*.away-team-container {*/
    /*float: left;*/
    /*width: 45%;*/
/*}*/

/*.prediction-info-container {*/
    /*position: absolute;*/
    /*width: 10%;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*text-align: center;*/
/*}*/

/*.home-team-container {*/
    /*float: right;*/
    /*width: 45%;*/
    /*text-align: right;*/
/*}*/

/*.home-team-img-container {*/
    /*float: right;*/
    /*padding-left: 5px;*/
    /*margin-left: 5px;*/
    /*border-left: 1px solid #DDD;*/
    /*width: 30%;*/
/*}*/

/*.away-team-img-container {*/
    /*float: left;*/
    /*padding-right: 5px;*/
    /*margin-right: 5px;*/
    /*border-right: 1px solid #DDD;*/
    /*width: 30%;*/
/*}*/

/*.away-team-img {*/
    /*width: 100%;*/
/*}*/

/*.home-team-img {*/
    /*width: 100%;*/
/*}*/



/*.at-symbol {*/
    /*margin: 0;*/
    /*font-size: 2em;*/
/*}*/