nav.navbar.navbar-default.navbar-fixed-top
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') NFL DB
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/predictions/2015-17')
                        | Predictions
                        span.sr-only (current)
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Statistics
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='/players') Players
                        li
                            a(href='/teams') Teams
                        li
                            a(href='/games') Games
                        li
                            a(href='/plays') Plays
                li
                    a(href='/discussion') Discussion