mixin predictionPanel(homeTeam, awayTeam, winner)
    div.row
        div.col-xs-12
            .panel.panel-default
                .panel-body
                    div.col-xs-2.img-container
                        div.well.well-img-container
                            img(src="/img/" + homeTeam + "-min.png").prediction-img
                    div.col-xs-3.away
                        h2.home= homeTeam
                    div.col-xs-2
                        h4.vs-symbol @
                    div.col-xs-3
                        h2.away= awayTeam
                    div.col-xs-2.img-container.right
                        div.well.well-img-container.right
                            img(src="/img/" + awayTeam + "-min.png").prediction-img


mixin prediction(homeTeam, awayTeam, winner)
    div.

for prediction, i in predictions
    + predictionPanel(prediction.htabbr, prediction.atabbr, 'Hi')





